
#head{
    color: #fff;
    margin-top: 0;
    background: rgb(255,153,51);
    background: linear-gradient(124deg, rgba(255,153,51,1) 52%, rgba(136,8,109,1) 100%);
}
.icons{
    height: 3rem;

}

.iconList{
    border-radius: 0;
}
.listStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 2rem;
    cursor: pointer;
    
}
.details{
    width: 25rem;
}
.insideDive{
    border-right: 1px solid #fff;
    margin-left: 1.5rem;
    cursor: pointer;
}
.insideDiv{
    margin-left: 1rem;
    cursor: pointer;
}
.linkButton{
    width: 10rem;
    height: 2rem;
    border: 1px solid white;
    border-radius: 10px;
}

#linkTag{
    outline: none;
    color: #fff;
    text-decoration: none;
}
.bigText{
    font-size: 1.5rem;
    font-weight: 400;
}
.conBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
}
.middleBox{
    height: auto;
    flex-grow: 0;
    
}
.heightB{
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    margin-bottom: 0;
}
.listItems{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}
.listItems:hover{
    background-color: rgb(255, 123, 0) ;
}
.drw{
    margin-left: -60px;
    right: 1px;
    top: -50px;
    padding: 10px;
}
.inputField{
    width: 90%;
}
.drw li{
    margin: auto;
}
.searchBtn{
    height: 4rem;
    background: #000;
}
.bttn{
    color: #fff;
}
.navbar-nav .dropdown-menu {
    position: absolute;
}
.toggleBtn {
    margin-bottom: 20px;
}
.homePage{
    height: 30rem;
    
}
.centerCard{
    height: 20rem; 
    border: none;
    border-radius: 5px;
    margin-left: 6rem;
}
.homePage {
    background-image: url('bg1.png'); 
    background-size: cover;
    background-position: center; 
    color: #fff;
}
.headText{
    color: #fff;
    position: absolute;
    top: 1rem;
}
.transparent-card {
    background-color: rgba(255, 255, 255, -0); 
    border-left: 5px solid transparent;
    border-image: linear-gradient(0.02turn, rgb(255 82 18), rgb(255 0 33), rgba(56,2,155,0));
    border-image-slice: 1;
    width:100%;
}
.lik {
    width: 40%;
    position: absolute;
    height: 4rem;
    animation: slideFromLeft 1s ease-in-out .30s forwards;
    bottom: 2rem;
}

@keyframes slideFromLeft {
    0% {
      transform: translateX(-10%); 
      opacity: 0; 
    }
    100% {
      transform: translateX(0); 
      opacity: 1;
    }
}
.lineSpace{
    word-spacing: 15px;
    letter-spacing: 10px;
    font-size: 1rem;
    animation: slideFromUp 1s ease-in-out .30s   forwards ;
}
@keyframes slideFromUp {
    0% {
      transform: translateY(0); 
      opacity: 0; 
    }

    100% {
      transform: translateY(10%); 
      opacity: 1;
    }
}

.textSpace{
    font-size: 3rem;
    letter-spacing: 8px;
    word-spacing: 2px;
    animation: slideFromRight 1s ease-in-out .30s forwards;
}
@keyframes slideFromRight {
    0% {
      transform: translateX(10%); 
      opacity: 0; 
    }
    100% {
      transform: translateX(0); 
      opacity: 1;
    }
}
.sub{
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 14px;
    margin-top: 1rem;
    font-style: italic;
}
.liskStyle{
    text-decoration: none;
    color: #fff;
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: rgb(255,153,51);
    background: linear-gradient(121deg, rgb(239 153 85) 52%, rgb(155 15 126) 100%);
}
.liskStyle2{
    text-decoration: none;
    color: #fff;
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px
     solid #fff;
    border-radius: 30px;
}
#buisness{
    background: rgb(255,153,51);
    background: linear-gradient(121deg, rgb(239 153 85) 52%, rgb(155 15 126) 100%);
}
.iconspan{
    width: 3rem;
    height: 3rem;
    color: #fff;
    font-size: 1rem;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.textspan{
    color: #fff;
    margin-left: 2rem;
    position: absolute;
    top: 22px;
    left: 3rem;
    font-weight: 700;
}
.visibility{
    background-color: rgba(255, 255, 255, -0); 
    border: none;
    /* cursor: pointer; */
}
.aboutUs{
    /* background-image: url('world\ map\ 2.jpg');  */
    background-size: cover;
    background-position: center; 
    color: #fff;
    height: auto;
    margin-top: 1.5rem;
}
.firstColum{
    /* height: 28rem ; */
    border: none;
    background-color: rgba(255, 255, 255, 0.5); 
    
}
.cTitle{
    font-size: 2rem;
}
.colorLine{
    width: 3.5rem;
    margin: 1rem 0 1rem 0;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(0.02turn, rgb(251 99 42), rgb(231 46 181), rgba(56, 2, 155, 0)) 1 / 1 / 0 stretch;
    border-image-slice: 1;
}

.btnGradient{
    text-decoration: none;
    color: #fff;
    width: 7.5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background:linear-gradient(121deg, rgb(239 153 85) 52%, rgb(255 0 210) 100%);
}
.box{
    z-index: 10;
}
.boxLine{
    height: 3rem;
    width: 24rem;
    margin-top: -2.5rem;
    border: 3px solid transparent;
    border-image: linear-gradient(0.02turn, rgb(251 99 42), rgb(231 46 181), rgba(56, 2, 155, 0)) 1 / 1 / 0 stretch;
    border-image-slice: 1;
}
.services{
    height: auto;
    
}
.mT{
    margin-top: 1.5rem;
}
.col {
    position: relative; /* Set the parent to relative position */
}

.custom-div {
    position: absolute;
    right: 0px;
    height: 3rem;
    background-color: #fff;
    bottom: 1%;
    cursor: pointer;
    transform: translateY(50%);
}
.iDiv{
    position: absolute;
    left: -27px;
    width: 3rem;
    height: 3rem;
    color: #fff;
    border-radius: 50%;
    background:linear-gradient(121deg, rgb(239 153 85) 52%, rgb(255 0 210) 100%);

}
.shadowBox{
    box-shadow: 8px 20px 20px 0px rgba(0,0,0,0.45);;
}
.styleText{
    margin-top: 10px;
    margin-left: 1.2rem;
    font-size: 1.2rem;
    font-weight: 400;
}
.address{
    background-color: #ebeadf;
}
.trDisplay{
    background-color: rgba(255, 255, 255, -1); 
    border: none;
}
.iconBox{
    font-size: 1.4rem;
}
.ins:hover{
    background: linear-gradient(45deg, #405DE6, #E1306C);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.clr{
    color: #000;
}
.twrX{
    color: #000;
}
.fB:hover{
    color: #405DE6;
}
    
    

